[package]
name = "server"
version = "0.1.0"
edition = "2021"
publish = false
default-run = "server"

[dependencies]
auth = { path = "../auth" }
config = { path = "../config" }
db = { path = "../db" }
graphql = { path = "../graphql" }
tokio = { version = "1.21.1", features = ["full"] }
poem = { version = "1.3.16", features = ["compression", "cookie"] }
async-graphql = { version = "4.0.13", features = ["apollo_tracing"] }
async-graphql-poem = "4.0.13"
serde_json = "1.0.68"
slab = "0.4.5"
dotenv = "*"
anyhow = "1.0.45"
sqlx = { version = "0.6.2", features = ["postgres", "offline"] }
uuid = "1.1.2"
thiserror = "1.0.30"
pwhash = "1.0.0"
regex = "1.5.4"
tracing = "0.1.35"
tracing-subscriber = "0.3.11"
env_logger = "*"
