[package]
name = "server"
version = "0.1.0"
edition = "2021"
publish = false
default-run = "server"

[dependencies]
auth = { path = "../auth" }
config = { path = "../config" }
db = { path = "../db" }
graphql = { path = "../graphql" }
legiscan = { path = "../legiscan" }
tokio = { version = "1.21.1", features = ["full"] }
async-graphql = { version = "5.0.10", features = ["apollo_tracing"] }
serde_json = "1.0.68"
jsonwebtoken = "7.2.0"
slab = "0.4.5"
time = "0.3.25"
dotenv = "*"
anyhow = "1.0.45"
sqlx = { version = "0.6.2", features = ["postgres", "offline"] }
uuid = "1.1.2"
thiserror = "1.0.30"
pwhash = "1.0.0"
regex = "1.5.4"
tracing = "0.1.35"
tracing-subscriber = { version = "0.3.11", features = ["fmt", "env-filter"] }
env_logger = "*"
axum = { version = "0.6.1", features = ["ws", "headers", "macros"] }
async-graphql-axum = "5.0.5"
tower-http = { version = "0.3.5", features = ["cors"] }
tower-cookies = { version = "0.8.0" }
http = "0.2.8"
reqwest = "0.11.13"
pretty_assertions = "1.3.0"
tower = "0.4.13"
tokio-cron-scheduler = "0.9.4"
