[package]
name = "graphql"
version = "0.0.1"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0.45"
async-graphql = { version = "3.0.10", features = ["uuid", "chrono", "unblock"] }
bytes = "1.1.0"
chrono = "0.4.19"
auth = { path = "../auth" }
db = { path = "../db" }
proxy = { path = "../proxy" }
dotenv = "0.15.0"
pwhash = "1.0.0"
rust-s3 = "0.28.0"
serde = "1.0.130"
serde_json = "1.0.69"
sqlx = { version = "0.5.9", features = ["postgres"] }
thiserror = "1.0.30"
uuid = "0.8.2"
http = "0.2.5"
